body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:593px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:86px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u18456 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:58px;
  width:375px;
  height:86px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:28px;
}
#u18457 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:104px;
  width:56px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:28px;
}
#u18457 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18457_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18458 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:109px;
  width:17px;
  height:17px;
  display:flex;
  transition:none;
}
#u18458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u18458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18460 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:190px;
  width:375px;
  height:197px;
  display:flex;
  transition:none;
  font-size:26px;
}
#u18460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:197px;
}
#u18460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18462 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:215px;
  width:133px;
  height:51px;
  display:flex;
  transition:none;
  font-size:11px;
  text-align:left;
}
#u18462 .text {
  position:absolute;
  align-self:center;
  padding:2px 10px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u18462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:51px;
}
#u18462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18463 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:221px;
  width:1px;
  height:141px;
  display:flex;
  transition:none;
  font-size:26px;
}
#u18463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:142px;
}
#u18463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18465 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:251px;
  width:7px;
  height:8px;
  display:flex;
  transition:none;
  font-size:26px;
}
#u18465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:8px;
}
#u18465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u18466 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:190px;
  width:144px;
  height:26px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u18466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18467 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:359px;
  width:22px;
  height:18px;
  display:flex;
  transition:none;
}
#u18467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u18467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#027DB4;
}
#u18470 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:156px;
  width:26px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#027DB4;
}
#u18470 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18470_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u18471 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:156px;
  width:39px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u18471 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18471_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18472 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:165px;
  width:8px;
  height:5px;
  display:flex;
  transition:none;
}
#u18472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:5px;
}
#u18472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18476 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:405px;
  width:375px;
  height:240px;
}
#u18477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:20px;
  display:flex;
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
  line-height:11px;
}
#u18477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:20px;
}
#u18477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18478 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:0px;
  width:197px;
  height:20px;
  display:flex;
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.8);
  line-height:11px;
}
#u18478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
}
#u18478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:11px;
}
#u18479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u18479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18480 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:20px;
  width:197px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u18480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u18481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18482 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:42px;
  width:197px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u18482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u18483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18484 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:64px;
  width:197px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u18484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u18485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18486 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:86px;
  width:197px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u18486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u18487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18488 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:108px;
  width:197px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u18488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u18489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18490 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:130px;
  width:197px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u18490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u18491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18492 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:152px;
  width:197px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u18492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u18493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18494 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:174px;
  width:197px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u18494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:196px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u18495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18496 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:196px;
  width:197px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u18496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:178px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
}
#u18497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18498 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:218px;
  width:197px;
  height:22px;
  display:flex;
  transition:none;
  font-size:11px;
  color:#999999;
  line-height:18px;
}
#u18498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
}
#u18498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u18501 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:160px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u18501 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18501_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Heiti SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(153, 153, 153, 0.8);
  text-align:left;
}
#u18502 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:158px;
  width:72px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Heiti SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(153, 153, 153, 0.8);
  text-align:left;
}
#u18502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Heiti SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(153, 153, 153, 0.8);
  text-align:left;
}
#u18503 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:158px;
  width:72px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Heiti SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(153, 153, 153, 0.8);
  text-align:left;
}
#u18503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Heiti SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(153, 153, 153, 0.8);
}
#u18505 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:158px;
  width:4px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Heiti SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:rgba(153, 153, 153, 0.8);
}
#u18505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:896px;
}
#u18507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18508 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:837px;
  width:373px;
  height:59px;
  display:flex;
  transition:none;
}
#u18508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u18508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18509 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:32px;
  width:433px;
  height:62px;
  display:flex;
  transition:none;
}
#u18509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u18509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18510 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:93px;
  width:30px;
  height:803px;
  display:flex;
  transition:none;
}
#u18510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u18510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18511 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:93px;
  width:30px;
  height:803px;
  display:flex;
  transition:none;
}
#u18511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u18511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18513 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:70px;
  width:10px;
  height:10px;
  display:flex;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  transition:none;
}
#u18513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18514 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:72px;
  width:22px;
  height:11px;
  display:flex;
  opacity:0.4;
  transition:none;
}
#u18514 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
}
#u18514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18515 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:75px;
  width:1px;
  height:4px;
  display:flex;
  transition:none;
}
#u18515 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:4px;
}
#u18515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:1px;
  filter:drop-shadow(none);
  transition:none;
}
#u18516 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:74px;
  width:18px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u18516 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18517 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:70px;
  width:49px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u18517 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18518 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:72px;
  width:15px;
  height:10px;
  display:flex;
  transition:none;
}
#u18518 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u18518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18519 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:95px;
  width:43px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
