.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
._形状 {
  font-size:12px;
  color:#FFFFFF;
}
.input-placeholder {
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#C0C4CC;
  text-align:left;
}
._形状1 {
  color:#434343;
}
._图片 {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
._连接线 {
}
.line {
}
._默认样式 {
}
.box_2 {
}
.ellipse {
}
.text_field {
  color:#000000;
  text-align:left;
}
.menu_item {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.image {
  color:#000000;
}
._图像 {
}
._文本框 {
  color:#000000;
  text-align:left;
}
.box_3 {
}
._形状2 {
}
.line1 {
}
.ellipse1 {
}
.label1 {
  font-size:14px;
  text-align:left;
}
._标题_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.refs-chart-data {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
.ellipse2 {
}
._文本链接 {
  color:#0000FF;
}
.label2 {
  font-size:14px;
  text-align:left;
}
._图片_ {
}
.flow_shape {
}
.box_31 {
}
.icon {
}
.shape {
}
.ellipse3 {
}
.line2 {
}
.box_11 {
  font-family:'Microsoft YaHei UI', sans-serif;
  font-weight:400;
  font-style:normal;
}
.droplist {
  color:#000000;
  text-align:left;
}
.form_disabled {
}
.box_21 {
}
.paragraph {
  text-align:left;
}
.line3 {
}
.horizontal_line {
}
._一级标题1 {
  font-family:"思源黑体", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._默认样式1 {
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.icon1 {
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.box_22 {
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
._图片1 {
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.label3 {
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.image1 {
}
.primary_button {
  color:#FFFFFF;
}
.table {
}
.table_cell {
}
._形状3 {
}
._图片2 {
}
.box_32 {
}
.shape1 {
}
.table_cell1 {
}
.label4 {
  font-size:14px;
  text-align:left;
}
._形状4 {
}
.tooltip {
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
.icon2 {
}
._形状5 {
}
.shape2 {
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_23 {
}
.ellipse4 {
}
.label5 {
  font-size:12px;
  text-align:left;
}
.box_33 {
}
._默认样式2 {
}
._30号字_服务主标题，例如双行列表内的下方描述信息。__） {
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.paragraph2 {
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.horizontal_line1 {
}
.box_24 {
}
.checkbox {
  text-align:left;
}
.line4 {
}
.image2 {
  color:#000000;
}
.box_25 {
}
.shape3 {
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
.arrow {
}
.line5 {
}
.primary_button1 {
  color:#FFFFFF;
}
.sticky_1 {
  text-align:left;
}
.box_12 {
}
.ellipse5 {
}
.form_disabled1 {
}
.vertical_line {
}
.checkbox1 {
  text-align:left;
}
.icon3 {
}
.form_hint1 {
  color:#999999;
}
textarea, select, input, button, div, svg { outline: none; }
